body{
    font-family: 'Noto Sans', sans-serif;
    }
    .fixibal-container{
        display: flex;
        padding-left: 80px;
        margin-bottom: 100px;
    }
    .half-width{
        width: 50%;
        padding: 5%;
    
    }
    .half-width img{
        width: 100%;

    }
    #text-canter{
        padding-top: 220px;

    }
    img{
        width: 80%;
    }

    h1{
        font-size: 60px;
        color: grey;
    }
    h3{
        color: grey;
    }
    span{
        color: orange;
    }
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,red);
    padding: 15px 40px; 
 border-radius: 40px;
    }
#backround-img{
    background-image: url(./photos/images/shapes/Frame\ 58.jpg);
    }
#mid-heading{
     text-align: center;
}
.item-box{
    padding: 10px;
    text-align: center;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-left: 10px;
    box-shadow:10px 10px 40px grey;
   border-radius: 20px;
}
.item-box img{
    border-radius: 10px;

}
.fiexible{
    display: flex;

}
input{
    width: 50px;
    display: block;
    margin-top: 20px;
    width: 332px;
    border-radius: 8px;
    text-align: center;
}
form{
    padding-left: 15%;
    padding-right: 5%;
    margin-left: 5%;
}
.box{
    padding: 8Px;
}
.from-img{
    margin-top: 150px;
    width: 100%;
}

footer {
	width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
	background-color:black;
	color: white;
	text-align: center;
}